---
const { lang } = Astro.props;
const contentItems = [
	{
		imgSrc: "./assets/images/Vector.svg",
		text_lv: "Vienīgais Vita pārstāvis Latvijā un Igaunijā",
		text_ru: "Единственный представитель Vita в Латвии и Эстонии",
		text_en: "The only Vita representative in Latvia and Estonia",
	},
	{
		imgSrc: "./assets/images/Vector (1).svg",
		text_lv: "Pārstrādājam 120 tonnas porolona mēnesī",
		text_ru: "Перерабатываем 120 тон поролона ежемесячно",
		text_en: "Monthly we process 120 tons of foam rubber",
	},
	{
		imgSrc: "./assets/images/Vector (2).svg",
		text_lv: "Produkcija atbilst OEKO-TEX sertifikāta prasībām",
		text_ru: "Продукция соответствует сертификации OEKO-TEX",
		text_en: "Products comply with OEKO-TEX certification",
	},
	{
		imgSrc: "./assets/images/Vector (3).svg",
		text_lv: "Vairāk nekā 20 gadu pieredze",
		text_ru: "Более 20 лет опыта",
		text_en: "More than 20 years of experience",
	},
];
---

<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="heading">
					<h1>Uzticieties profesionāļiem</h1>
				</div>
			</div>
			{
				contentItems.map((item) => (
					<div class="col-md-3 text-center">
						<div class="icon">
							<img
								src={item.imgSrc}
								class="img-fluid"
								alt="icon"
							/>
							<p>{item["text_" + lang]}</p>
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>