---
import { advancesData } from "../data/advances";
const { lang } = Astro.props;

import { Image } from "astro:assets";
import Advances1 from "../assets/images/advances/Advances1.svg";
import Advances2 from "../assets/images/advances/Advances2.svg";
import Advances3 from "../assets/images/advances/Advances3.svg";
import Advances4 from "../assets/images/advances/Advances4.svg";

const images = [Advances1, Advances2, Advances3, Advances4];
---

<section id="content" class="py-10 sm:py-[50px] md:py-[100px]">
    <div class="container max-w-[1200px] mx-auto px-5">
        <h1
            class="text-[25px] sm:text-[30px] md:text-[40px] text-(--text-primary) leading-[1.4] font-medium mb-[30px] sm:mb-10 md:mb-20 text-center"
        >
            {advancesData.title[lang]}
        </h1>
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-5 sm:gap-[30px] md:gap-[50px]"
        >
            {
                advancesData.items.map((item, index) => (
                    <div class="flex sm:flex-col items-center text-left sm:text-center gap-4 sm:gap-0">
                        <Image
                            src={images[index]}
                            alt="icon"
                            width={70}
                            height={70}
                            class="w-[50px] h-[50px] sm:w-[70px] sm:h-[70px] shrink-0 sm:mb-5"
                        />
                        <p class="text-sm sm:text-base leading-[1.4] sm:leading-[26px] text-(--text-secondary) tracking-[0.002em] m-0">
                            {item["text_" + lang]}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
</section>
