<section id="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-area">
					<h1 style="margin-top: 20px;">
						Izstrādājumu <br />
						ražošana no porolona
						<p style="margin-top: 20px;">
							Putu poliuretāns ražotnēm un fiziskajām personām
						</p>
						<!-- <a href="#contact" class="btn btn-danger">Sazinieties ar mums</a> -->
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
