---
import { heroData } from "../data/hero";
const { lang } = Astro.props;
---

<section id="hero">
    <div class="container">
        <div class="text-area">
            <h1>
                {heroData.title1[lang]}
                <br />
                {heroData.title2[lang]}
            </h1>
            <p>{heroData.text[lang]}</p>
        </div>
    </div>
</section>

<style>
    #hero {
        background: url(../assets/images/hero.jpg) no-repeat bottom / cover;
        width: 100%;
        height: 60vh;
        display: grid;
        place-items: center;
    }

    .text-area {
        background: rgba(0, 0, 0, 0.4);
        padding: 20px;
        border-radius: 5px;
        backdrop-filter: blur(2px);
    }

    h1 {
        font-size: 88px;
        color: #fff;
        font-family: var(--font-secondary);
        line-height: 90px;
        letter-spacing: 0.02em;
        margin: 20px 0;
    }

    p {
        font-family: var(--font-primary);
        font-size: 38px;
        line-height: 52px;
        font-weight: 600;
        letter-spacing: -0.01em;
        color: #fff;
        margin: 20px 0 0;
    }

    @media (min-width: 480px) and (max-width: 770px) {
        h1 {
            font-size: 34px;
            line-height: 36px;
        }

        p {
            font-size: 20px;
            line-height: 28px;
        }
    }

    @media (max-width: 479px) {
        #hero {
            height: 300px;
        }

        h1 {
            font-size: 22px;
            line-height: 26px;
            margin: 10px 0;
        }

        p {
            font-size: var(--font-body-mobile);
            line-height: 20px;
            margin-top: 10px;
        }
    }
</style>
