---
const { lang } = Astro.props;

const title1 = {
	lv: "Porolona",
	ru: "Производство",
	en: "Production of the goods",
}
const title2 = {
	lv: "detaļas ražošana",
	ru: "изделий из поролона",
	en: "from polyurethane foam",
}

const text = {
	lv: "Putu poliuretāns ražotnēm un fiziskajām personām",
	ru: "Пенополиуретан для предприятий и частных лиц.",
	en: "Polyurethane foam for the enterprise and individual orders.",
}

---

<section id="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="text-area hero">
					<h1 style="margin-top: 20px;">
						{title1[lang]} <br />
						{title2[lang]}
						<p style="margin-top: 20px;">
							{text[lang]}
						</p>
						<!-- <a href="#contact" class="btn btn-danger">Sazinieties ar mums</a> -->
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
