---
const { lang } = Astro.props;

const title1 = {
    lv: "Porolona",
    ru: "Производство",
    en: "Production of the goods",
};
const title2 = {
    lv: "detaļas ražošana",
    ru: "изделий из поролона",
    en: "from polyurethane foam",
};

const text = {
    lv: "Putu poliuretāns ražotnēm",
    ru: "Пенополиуретан для предприятий",
    en: "Polyurethane foam for the enterprise",
};
---

<section id="hero">
    <div class="container">
        <div class="text-area">
            <h1>
                {title1[lang]}
                <br />
                {title2[lang]}
            </h1>
            <p>{text[lang]}</p>
        </div>
    </div>
</section>

<style>
    #hero {
        background-image: url(../assets/images/hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 60vh;
        display: grid;
        place-items: center;
    }

    .container {
        max-width: 1200px;
        width: 100%;
        padding: 0 20px;
    }

    .text-area {
        background: rgba(0, 0, 0, 0.4);
        padding: 20px;
        border-radius: 5px;
        backdrop-filter: blur(2px);
    }

    h1 {
        font-size: 88px;
        color: #ffffff;
        font-family: "Ubuntu", sans-serif;
        line-height: 90px;
        letter-spacing: 0.02em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        font-family: "Open Sans", sans-serif;
        font-size: 38px;
        line-height: 52px;
        font-weight: 600;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin-top: 20px;
        margin-bottom: 0;
    }

    @media only screen and (min-width: 480px) and (max-width: 770px) {
        h1 {
            font-size: 34px;
            line-height: 36px;
        }

        p {
            font-size: 20px;
            line-height: 28px;
        }
    }

    @media only screen and (max-width: 479px) {
        #hero {
            height: 300px;
        }

        h1 {
            font-size: 22px;
            line-height: 26px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            margin-top: 10px;
        }
    }
</style>
