---
import Contacts from "./Contacts";

const { lang } = Astro.props;


const title = {
	lv: "Izstrādājumu",
	ru: "Производство",
	en: "Production of the goods",
}

const scheme = {
	lv: "Ielādēt braukšanas maršrutu",
	ru: "Скачать схему проезда",
	en: "Download the entrance scheme",
}

---

<!-- Location -->
<section id="location">
	<div class="container">
		<div class="row">
			<Contacts lang={lang} client:only/>
			<div class="col-md-6 text-center">
				<div class="map">
					<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2175.883035795374!2d24.16610721581141!3d56.95080518089065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eece158cc4adef%3A0xa8ed74d6041415d4!2sAugusta%20Deglava%20iela%2046%2C%20Latgales%20priek%C5%A1pils%C4%93ta%2C%20R%C4%ABga%2C%20LV-1035%2C%20Latvia!5e0!3m2!1sen!2s!4v1613081736325!5m2!1sen!2s" width="500" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.9258588960025!2d24.166916021392023!3d56.95046509910395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eecf1ae790db37%3A0x341a98d829cf03d0!2sEL%C4%AAZA-K%20porolona%20cehs!5e0!3m2!1sru!2slv!4v1667739898401!5m2!1sru!2slv"
						width="500"
						height="400"
						frameborder="0"
						style="border:0;"
						allowfullscreen=""
						aria-hidden="false"
						tabindex="0"></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="img-wrapper">
					<img src="/assets/images/map copy 2@2x 1.png" alt="" />
				</div>
			</div>
			<div class="col-md-6">
				{lang === "lv" &&
					<div class="points">
						<p>1. Mēbeļu salons</p>
						<p>2. Caurlaides punkts (gājējiem)</p>
						<p>3. Caurlaides punkts (transportam)</p>
						<p>4. Mēbeļu noliktava</p>
						<p>5. Porolona ražošanas cehs</p>
						<p>6. Audumu noliktava</p>
					</div>
				}
				{lang === "ru" &&
					<div class="points">
						<p> 1. Салон мебели</p>
						<p> 2. Пропускной пункт (для пешеходов)</p>
						<p> 3. Пропускной пункт (для транспорта)</p>
						<p> 4. Мебельный склад</p>
						<p> 5. Цех по производству поролона</p>
						<p> 6. Склад ткани</p>
					</div>
				}
				{lang === "en" &&
					<div class="points">
						<p> 1. Furniture salon</p>
						<p> 2. Checkpoint (for pedestrians)</p>
						<p> 3. Checkpoint (for transport)</p>
						<p> 4. Furniture warehouse</p>
						<p> 5. Polyurethane foam production shop</p>
						<p> 6. Fabric warehouse</p>
					</div>
				}
			</div>
			<div class="col-md-12">
				<div class="copyright">
					<a
						href="./assets/images/map copy 2@2x 1.png"
						target="_blank"
					>
						<h6>
							<img src="./assets/images/Union.svg" alt="" /> 
							{scheme[lang]}
						</h6>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	
</style>