---
import { Image } from "astro:assets";
import Logo from "../assets/images/logo.svg"
const { lang } = Astro.props;
---

<!-- Header -->
<nav class="navbar navbar-expand-lg">
	<div class="container">
		<a class="navbar-brand" href={"https://eliza-k.lv/" + lang}>
			<Image src={Logo} alt=""/>
		</a>
		<!-- <a class="nav-link phone" href="#">+371 28 363 860</a> -->
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<!-- <span class="navbar-toggler-icon"></span> -->
		</button>
		<div class="dropdown">
			<button
				class="btn btn-secondary dropdown-toggle"
				type="button"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				{lang.toUpperCase()}
			</button>
			<ul class="dropdown-menu">
				{ lang !== "lv" &&
					<li>
						<a class="dropdown-item" href="/">LV</a>
					</li>
				}
				{ lang !== "en" &&
					<li>
						<a class="dropdown-item" href="/en">EN</a>
					</li>
				}
				{ lang !== "ru" &&
					<li>
						<a class="dropdown-item" href="/ru">RU</a>
					</li>
				}						
			</ul>
		</div>
	</div>
</nav>
