* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    padding-top: 60px;
}
/* font-family: 'Ubuntu', sans-serif; */

:root {
    --main-accent: #5a5a5a;
    --btn-accent: #f3f3f3;
}

/* GLOBAL BUTTONS */

.btn {
    border-radius: 50px;
    margin: 0 5px;
    background: rgba(141, 136, 136, 0.16);
    color: var(--main-accent);
    padding: 6px 16px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid transparent;
}

.btn:hover .btn:active .btn:focus {
    border-radius: 50px;
    margin: 0 5px;
    background: rgba(141, 136, 136, 0.16);
    color: var(--main-accent);
    padding: 4px 12px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid transparent;
}

.dropdown-item:active {
    background: #5c636a;
}
